* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Inter, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body,html{
  min-height: 100vh;
background: radial-gradient(100% 400px at 50% -50px, #404040, #000000);
background-repeat: no-repeat;
}
.main {
  h1 {
    line-height: 32px;
  }
  h2 {
    line-height: 24px;
  }
  h3 {
    line-height: 16px;
  }
  p {
    line-height: 24px;
  }
  color: white;

  padding: 0px 32px;
  a {
    text-decoration: none;
  }
  .logo {
    color: rgba(126, 121, 121, 0.726);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;

    font-family: monospace;
    animation: flicker 2s infinite;
    h1 {
      font-size: 12px;
      font-weight: 600;
    }
    span {
      font-size: 10px;
      font-weight: 400;
    }
  }
}
/* logo flickr animation */
@keyframes flicker {
  0% {
    opacity: 0;
  }
  9% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  13% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  25% {
    opacity: 1;
  }
}
