.home {
  margin: 20px auto;
  display: flex;
  min-width: 40%;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  max-width: fit-content;
  /* dashed line  */
  .dashed-line {
    margin: 16px 0px;
    opacity: 0.1;
    border-width: 0.5px;
    border-style: solid;
    color: rgba(255, 255, 255, 0.568);
    width: 100%;
  }


  @media (max-width: 768px) {
    width: 90%;
  }
    @media (max-width: 1024px) {
    width: 70%;
  }
  .hide {
    display: none;
  }
  h1 {
    font-family: "Lora", serif;
    font-size: 24px;
    font-weight: 400;
  }
  h2 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }
  h3 {
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
  }
  p {
    font-size: 12px;
  }
  .about-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    .name {
      line-height: 32px;
    }
  }
  .socials {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    list-style: none;
    li {
      font-size: 12px;
      background-color: white;
      padding: 4px;
      border-radius: 4px;
      img {
        width: 16px;
        height: 16px;
      }
      a {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }
}
